
:root{
    --primary: #05a5aa;
    --secondary:#0e0af0;
    --third:#033683;
    --border-radius: 10%;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/*************header********************/
.navbar-content{
   position: fixed;
   width: 100%;
   top:0;
    
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1em;
    list-style: none;
}
.grandspace{
    flex: 3;
}
.navbar-links li a{
    color: black;
}
.navbar-banner h1{
    color: var(--primary);
    font-size: 2em;
    font-weight: bold;
}
.navbar-banner{
    background-image: url('../image/laptop-gbc1a3b813_1920.jpg');
    background-size: cover;
    height: 90vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
       }

.banner-header{
    width: 50%;
}
.navbar-banner .separator{
    border: none;
    border-top: 3px solid var(--secondary);
    margin-bottom: 1em;
    display: inline-block;
    width: 20%;
}
.btn{
    background-color: var(--primary);
    color: black;
    padding: .5em 1em;
    border-radius: var(--border-radius)
}
.navbar-banner p{
    margin-bottom: 2em;
}

@media only screen and (max-width: 768px) {
    .navbar-banner{
        background-position: center;
    }
}
/*************************rectangle************************/

.rectangle{
   background-color: var(--third);
   justify-content: center;
   align-items: center;
   display: flex;
   text-align: center;
   height: 300px;
}
.banner-rectangle{
    width: 50%;
}
.banner-rectangle p{
    margin-bottom: 2em;
    margin-top: 1em;
}
.rectangle .separator{
    width:30%;
    display: inline-block;
    border: none;
    border-top: 3px solid var(--secondary);
}

/****************card***********************/
.card-title{

    text-align: center;
    align-items: center;
}
.card-title h2{
    color: var(--primary);
    font-weight: bold;
}
.card-title .separator{
    display: inline-block;
    width: 20%;
    border: 3px solid var(--third);
}
.card-liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2em;
}
.card{
    width: 300px;
}
.card-img{
    overflow: hidden;
    width: 100%;
}
.card-img img{
    width: 10%;
}
/***************image****************/
.card-image{
    padding-top: 2em;
}
.card-fluid{
    display: flex;
    overflow: hidden;
   
}
.card-fluid img{
    width: 35%;
}
/******************table*************************/
table{
    text-align: center;
    box-shadow: 5px 5px 5px 5px gray;
    margin: 2em auto;
    width: 90%;
    border-collapse: collapse;
    
}
table td{
    padding: 1em;
    border:.5px solid;
    border-color: rgb(185, 176, 176);
    text-align: center;
    align-items: center;
}
/* Genel stil */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
  }
  
  /* Giriş stil */
  .toggle-switch .toggle-input {
    display: none;
  }
  
  /* Anahtarın stilinin etrafındaki etiketin stil */
  .toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: #2196F3;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Anahtarın yuvarlak kısmının stil */
  .toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  /* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
  .toggle-switch .toggle-input:checked + .toggle-label {
    background-color: #4CAF50;
  }
  
  .toggle-switch .toggle-input:checked + .toggle-label::before {
    transform: translateX(16px);
  }
  
  /* Light tema */
  .toggle-switch.light .toggle-label {
    background-color: #BEBEBE;
  }
  
  .toggle-switch.light .toggle-input:checked + .toggle-label {
    background-color: #9B9B9B;
  }
  
  .toggle-switch.light .toggle-input:checked + .toggle-label::before {
    transform: translateX(6px);
  }
  
  /* Dark tema */
  .toggle-switch.dark .toggle-label {
    background-color: #4B4B4B;
  }
  
  .toggle-switch.dark .toggle-input:checked + .toggle-label {
    background-color: #717171;
  }
  
  .toggle-switch.dark .toggle-input:checked + .toggle-label::before {
    transform: translateX(16px);
  }
  
@media only screen and (max-width: 768px){
    table{
        width: 10px;
    }
    table td{
        padding: .3em;
    }
    
    }
    



    





